.App {
  text-align: left;
  width: 70%;
  margin: auto;
  color: white;
}

.App-title{
  margin-top: 20%;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 4em;
  font-weight: bold;
}

.App-subtitle{
  padding-top: 0;
  margin-top: 0;
  font-size: 1.75em;
}

.App-creategame{
  font-size: 1.25em;
}

.button {
    background: #f7b733;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 30px;

}

.button:hover {
	background: #f8c154;
	transition: all linear 0.15s;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
