body{
  height: 100%;
  width: 100%;
  background-color: #4ABDAC;
  vertical-align: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.button {
    background: #f7b733;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 10px;

}

.button:hover {
	background: #f8c154;
	transition: all linear 0.15s;
}
