.BottomBarRoomId {
  position: absolute; bottom: 0px; left: 15px;
  color: white;
}

.PlayerWaiting-MSG {
  font-size: 1.5em;
}

.PlayerWaiting {
  text-align: center;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 37vh;
}

.PlayerWelcome{
  font-size: 2em;
}
