.SpectatorPending {
  text-align: center;
  width: 70%;
  margin: auto;
  color: white;
}

#spectatorPendingButton {
  margin-left: 30px;
  background: #4ABDAC;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 15px 50px;
}

#spectatorPendingButton:hover {
  background: #4ABDAC;
  color: #f7b733;
  border: 2px solid #f7b733;
}


.SpectatorPending-title {
  margin-top: 7%;
  margin-bottom: 0;
  font-size: 4em;
  padding-bottom: 0;
  font-weight: bold;
}

.SpectatorPending-title-p {
  margin-bottom: 0;
}

.profileImg {
  background-color: "transparent";
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: -10px;
}

.SpectatorPending-users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.SpectatorPending-avatar {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


.SpectatorPending-avatar-name {
  font-size: 1.25em;
  font-weight: bold;
}

.example-appear {
   opacity: 0.04;
}
.example-appear.example-appear-active {
   opacity: 2;
   transition: opacity 50s ease-in;
}
